<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link link rel="stylesheet"  href="/static/style.css">
    <title>Homepage</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="/static/logo.png" alt="logo" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="text">
                <h2>THAT'S WHAT <br> <span>I LIKE</span> </h2>
                <p>Refresh yourself with Coca-Cola, the iconic beverage that delivers an unparalleled burst of flavor. Every sip is a unique experience, bringing joy and satisfaction. Enjoy the refreshment and happiness that only Coca-Cola can provide, turning ordinary moments into memorable occasions.</p>
                <a href="#">VIEW ALL PRODUCTS</a>
            </div>
        </div>
        <ul class="icons">
            <li><a href="#"><img src="/static/facebook.png" alt="icons"></a></li>
            <li><a href="#"><img src="/static/twitter.png" alt="icons"></a></li>
            <li><a href="https://www.instagram.com/kelvindaniel/"><img src="/static/instagram.png" alt="icons"></a></li>
        </ul>
        <div class="boximg">
            <img src="/static/cocacola1.png" alt="" class="img1" >
            <img src="/static/cocacola2.png" alt="" class="img2" >
            <img src="/static/cocacola3.png" alt="" class="img3" >
            <img src="/static/cocacola4.png" alt="" class="img4" >
        </div>
    </section>
</body>
</html>
